global-exclude *.py[cod]
prune docs
prune example
prune tests
prune __pycache__
include LICENSE
include README.md
exclude .editorconfig
exclude .pre-commit-config.yaml
exclude manage.py
exclude mkdocs.py
include pyproject.toml
exclude testsettings.py
exclude tox.ini
